* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    height: 78px;
    background-color: #1e90ff;
    color: #ffff;
}

ul {
    list-style-type: none;
    text-transform: uppercase;
}

.nav {
    display: inline-flex;
}

.nav > li {
    list-style-type: none;
}

.nav .subnav {
    display: none;
    background-color: #1e90ff;
    padding: 10px; 
    border-radius: 5px;
    text-align: center; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.nav .subnav a {
    color: #fff;
    text-align: center;
}

.nav li:hover .subnav {
    display: block;
}

.nav .subnav li:hover {
    color: #ffff;
    background-color: #0505053d;
    border-radius: 24px;
}

.nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 78px;
    padding: 12px 24px;
}

.nav > li:hover > a {
    position: inline-block;
    color: #fff;
    background-color: #0505053d;
    border-radius: 24px;
}

/*End Nav*/

.login {
    float: right;
    line-height: 78px;
}

.login a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 24px
}
  
.login a:hover {
    background-color: #0505053d; 
    border-radius: 24px;
  }