.select-quiz-options {
    display: flex; /* Sử dụng flexbox */
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: start; /* Căn giữa theo chiều dọc */
    flex-direction: column; /* Xếp chồng các phần tử theo chiều dọc */
}

/* CSS nền hiển thị Modal */
.nenmodal .nenmodal2 {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.7);
    z-index:1;
    display:none;
    }

    /* CSS bảng nội dung Modal */
    .nenmodal .ndmodal {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    background:#fff;
    width:600px;
    z-index:2;
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    font-family:"Open Sans",sans-serif;
    border-radius:20px;
    display: block;
    position: fixed;
    box-shadow:0px 0px 10px #111;
    }

    @media (max-width: 700px) {
    .nenmodal .ndmodal {width:90%;}
    }
    
    /* CSS tieu de của Modal */
    .titlemodal{
    font-weight:bold;
    font-size:20px;
    margin-bottom:10px;
    }

    .nenmodal.active .nenmodal2 {
    display:block;
    }

    /* CSS hiệu ứng hiển thị Modal */
    .nenmodal.active .ndmodal {
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
    }
